<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <%= link_to "FinanceTracker", root_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <%= link_to "My Portfolio", my_portfolio_path, class: "nav-link #{'active' if request.path == my_portfolio_path}" %>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Profile
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <%= link_to edit_user_registration_path, class: "dropdown-item" do %>
                                <%= fa_icon "edit", class: "me-1" %>
                                Edit Profile
                            <% end %>
                        </li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <% if user_signed_in? %>
                    <li class="nav-item d-flex align-items-center">
                        <%= fa_icon "user", class: "me-1" %>
                        <%= current_user.full_name %>
                    </li>

                    <li class="nav-item ms-1">
                        <%= link_to "Logout", destroy_user_session_path, class: "btn btn-danger", data: { turbo_method: :delete } %>
                    </li>
                <% else %>
                    <li class="nav-item">
                        <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
                    </li>
                    <li class="nav-item ms-1">
                        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success" %>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>